@import "bootstrap-sprockets";
@import "bootstrap";

/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
a img {
  border: none;
}
/* --END RESET-- FROM LEARN ENOUGH CSS TUTORIAL */


/* VARIABLES AND MIXINS */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* GLOBAL STYLES */

body{
  font-family: Helvetica, Arial, sans-serif;
}

/* HEADER STYLES */

.logo {
  float: left;
  font-size: 1.8em;
  text-transform: uppercase;
  padding-top: 20px;
  font-weight: bold;
}

.navbar-brand .logo {
  color: #fff;
}

.navbar img {
  margin-left: -8px;
  padding-top: 13px;
}

/* FLIGHTS SEARCH */

.search {
  margin-top: 80px;
}

h2 {
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
  margin-bottom: 15px;
  font-weight: bold;
}


/* FOOTER STYLES */
footer {
  padding-top: 20px;
  width: 100%;
  height: 90px;
  background-color: #fff;
}

.center {
  text-align: center;
}

/* NEW BOOKING */
.new-booking {
  margin-top: 80px;
}




